In [15]:
import pandas as pd
import numpy as np

In [16]:
import numpy as np
data0 = [2, 4, 6.5, 8]
arr0 = np.array(data0)

In [17]:
#任务1：将列表转化为Numpy数组
data0=[2,4,6.5,8]
arr0=np.array(data0)

In [18]:
#任务2：新建Pandas中的Series 数据类型，打印出大小、索引值

In [43]:
#pandas中的series数据类型
s = pd.Series([100,'a',{'dic1':5}], index=pd.Index(['id1',20,'third'],name='my_idx'),
              dtype='object',
              name='my_name')

In [ ]:
s2=pd.Series(['1','2','3','4'])

In [ ]:
s2.index.values

array([0, 1, 2, 3], dtype=int64)

In [ ]:
type(s2.values[0])

str

In [ ]:
s2.size

4

In [ ]:
s2.shape

(4,)

In [24]:
#任务3：创建DataFrame类型的数据，并获取其索引、值及大小
d = {
    "one": pd.Series([1.0, 2.0, 3.0], index=["a", "b", "c"]),
    "two": pd.Series([1.0, 2.0, 3.0, 4.0], index=["a", "b", "c", "d"]),
}
df = pd.DataFrame(d)

In [40]:
d1 = {
    "作者": pd.Series(["余华", "路遥", "莫言"]),
    "书名": pd.Series(["活着","平凡的世界", "红高粱"]),
    "售价": pd.Series([30,34,50])
}
df2 = pd.DataFrame(d1)

In [41]:
df2[['作者','售价']]

   作者  售价
0  余华  30
1  路遥  34
2  莫言  50

In [42]:
df2.values

array([['余华', '活着', 30],
       ['路遥', '平凡的世界', 34],
       ['莫言', '红高粱', 50]], dtype=object)